* {
  color: white;
  background-repeat: no-repeat;
  overflow: hidden; 

}

body {
  background: #eaeaea;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
}

article {
  margin: auto;
  padding: -3px;
  min-width: 200px;
  max-width: 500px;
  margin-top: 584px;
  order: 2;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s linear;
}

form div {
  background-image: url("/img/blok.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 10px;
  max-width: 70%;
  margin: auto;
  margin-top: 10px;
}

nav {
  padding: 10px;
  margin: auto;
  height: 73vh;
  display: flex;
  flex-direction: column;
}

div.nav {
  position: fixed;
  left: 50%;
  top: 115%;
  transform: translate(-50%, -50%);
}

h1 {
  background-image: url(/img/blok.svg);
  padding: 4%;
  margin: auto;
  margin-top: 45px;
  background-size: 100% 100%;
  text-align: center;
}

form {
  padding: 10px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

img#logo {
  padding: 10px;
  margin: auto;
  width: 369px;

}

img#imgTop {
  position: fixed;
  margin: auto;
  top: -34vw;
  width: 97vw;
  height: 36vw;
}

img#imgBottom {
  position: fixed;
  margin: auto;
  bottom: -33vw;
  width: 94vw;
  height: 34vw;
}

a {
  padding: 10px;
  margin: auto;
}

form>div {
  font: inherit;
  padding: 12px;
  background-image: url(/img/blok.svg);
  background-color: #eaeaea;
  border: none;
  transition: ease-in-out .1s;
  background-size: 100% 100%;
}

div.styling#top {
  background-image: url(/img/blok.svg);
  position: fixed;
  margin: auto;
  top: -34vw;
  width: 97vw;
  height: 36vw;
  background-size: 100% 100%;
}

div.styling#bottom {
  background-image: url(/img/blok.svg);
  position: fixed;
  margin: auto;
  bottom: -33vw;
  width: 94vw;
  height: 34vw;
  background-size: 100% 100%;
}

button {
  visibility: visible;
  opacity: 1;
  font: inherit;
  font-size: 40px;
  padding: 22px;
  background-image: url(/img/blok.svg);
  background-color: #eaeaea;
  border: none;
  transition: ease-in-out .1s;
  background-size: 100% 100%;
  transition: opacity 0.5s linear;



}

header {
  padding: 10px;
  margin: auto;
  height: 73vh;
  display: flex;
  flex-direction: column;

}


button:hover,
button:focus {
  transform: scale(1.1);

}

button:active {
  transform: scale(0.99);
}

button:disabled {
  opacity: 0;
  visibility: hidden;
  background-image: url(/img/blokDis.svg);
  transition: opacity 0.2s linear;
}

button:disabled:hover {
  transform: scale(1);
}

.active {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s linear;
  margin-top: 40px;
  order: 1;
}