<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Tostie-Score</title>
</head>
<script>window.location.replace('/index2')</script>

<body>
    <div class = "styling" id= "top"></div>
    <h1 id="titel">TOSTI TEST</h1>
    
    <%- include(page); %>

    <div class = "styling" id= "bottom"></div>
    <script src="/js/ClientJs.js" type="module"></script>

</body>

</html>