<H1>Vraag 1: Hoeveel tosti's?</H1>

<form id="vraag_1" action="/antwoord_1" method="POST" enctype="application/x-www-form-urlencoded">
  <div>
      <input type="radio" id="a1" name="scoreV1" value="1">
      <label for="a1">Geen</label>
  </div>

  <div>
      <input type="radio" id="a2" name="scoreV1" value="3">
      <label for="a2">Te veel</label>
  </div>
  
  <div>
      <input type="radio" id="a3" name="scoreV1" value="5">
      <label for="a3">Te weinig</label>
  </div>

  <button>volgende</button>
</form>
<a href="/" >terug
</a>
