<H1>Vraag 2: Wanneer?</H1>
<form id="vraag_2" action="/antwoord_2" method="post">
  <div>
      <input type="radio" id="a1" name="scoreV2" value="1">
      <label for="a1">'s Ochtens</label>
  </div>

  <div>
      <input type="radio" id="a2" name="scoreV2" value="3">
      <label for="a2">'s Avonds</label>
  </div>
  
  <div>
      <input type="radio" id="a3" name="scoreV2" value="5">
      <label for="a3">'s Ochtens</label>
  </div>

  <button>Volgende</button>
</form>
<a href="/vraag_1" >terug
</a>