<H1>Vraag 3: Met?</H1>

<form action="/antwoord_3" method="post">
  <div>
      <input type="radio" id="a1" name="scoreV3" value="1">
      <label for="a1">Pizza</label>
  </div>

  <div>
      <input type="radio" id="a2" name="scoreV3" value="3">
      <label for="a2">Mayonnaise</label>
  </div>
  
  <div>
      <input type="radio" id="a3" name="scoreV3" value="5">
      <label for="a3">Ketchup</label>
  </div>

  <button>Volgende</button>
</form>

    <a href="/vraag_2" >terug
    </a>
